body {
    background-color: white;
	font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 24px;
}

th{
    text-align: left;
    min-width: 110px;
}

.red{
    color: red;
}

.current{
    font-weight: bold;
    color: green;
}

.past{
    color: gray;
}
